<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="asr:open" type="ASR.Commands.Open,ASR"/>
			<command name="asr:run" type="ASR.Commands.Run,ASR"/>
			<command name="asr:refresh" type="ASR.Commands.Refresh,ASR"/>
			<command name="asr:createlink" type="ASR.Commands.CreateLink,ASR"/>
			<command name="asr:email" type="ASR.Commands.Email,ASR" />
			<command name="asr:exportexcel" type="ASR.Commands.ExportExcel,ASR"/>
			<command name="asr:exportcsv" type="ASR.Commands.ExportCSV,ASR"/>
			<command name="asr:exportxml" type="ASR.Commands.ExportXML,ASR"/>
			<command name="asr:kick" type="ASR.Reports.Sessions.Kick,ASR.Reports"/>
			<command name="asr:setowner" type="ASR.Commands.SetOwner,ASR"/>
      <command name="asr:save" type="ASR.Commands.Save,ASR"/>
		</commands>
		<controlSources>
			<source patch:after="source[7]" mode="on" namespace="ASR.Controls" assembly="ASR" />
		</controlSources>
		<databases>
			<!-- enable proxies for master database -->
			<database id="master">
				<proxiesEnabled>true</proxiesEnabled>
				<proxyDataProvider ref="proxyDataProviders/main" param1="$(id)" />
			</database>
		</databases>
		<settings>
			<!--  Query.MaxItems
				Specifies the max number of items in a query result set.
				If the number is 0, all items are returned. This may affect system performance, if a 
				large query result is returned.
				This also controls the number of items in Lookup, Multilist and Valuelookup fields.
				Default value: 100
			-->
			<setting name="Query.MaxItems" value="0" />
		</settings>
		<ui>
			<references>
				<reference patch:after="reference[7]" blank="">/bin/ASR.dll</reference>
			</references>
		</ui>
	</sitecore>
</configuration>
